*{
    overflow: hidden;;
}
.quotesview{
    height: 100vh;
    width: 100%;
    background-image: url(../Images/illustration-graphic-of-aesthetic-background-template-with-subtle-pastel-colors-and-nature-motifs-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.imp{
    font-family: "Sour Gummy", sans-serif;
    font-size: x-large;
    color: darkcyan;
}